[submodule "software/includes/ABElectronics_CPP"]
	path = software/includes/ABElectronics_CPP
	url = https://github.com/abelectronicsuk/ABElectronics_CPP_Libraries.git
[submodule "software/includes/oscpack"]
	path = software/includes/oscpack
	url = https://github.com/RossBencina/oscpack.git
